version: '3.8'
services:
  # Service: 1
  postgresdb:
    container_name: unulearner_postgresdb_container
    image: "postgres:latest"
    restart: unless-stopped
    environment:
      POSTGRES_MULTIPLE_DATABASES: keycloak,content
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST: postgres
    volumes:
      - './postgresdb:/var/lib/postgresql/data:rw'
      - './unulearner-resources/postgresdb/init-scripts:/docker-entrypoint-initdb.d:ro'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -q -d keycloak -U postgres && pg_isready -q -d content -U postgres"]
      start_period: 160s
      interval: 60s
      timeout: 10s
      retries: 3
    networks:
      unulearner:
        aliases:
          - postgresdb
    ports:
      - "5432:5432"

  # Service: 2
  postgresadmin:
    container_name: unulearner_pgadmin_container
    image: "dpage/pgadmin4:latest"
    restart: unless-stopped
    depends_on:
      - postgresdb
    volumes:
      - './pgadmin/var/lib/pgadmin:/var/lib/pgadmin:rw'
      - './pgadmin/servers.json:/pgadmin4/servers.json:rw' 
    environment:
      PGADMIN_DEFAULT_EMAIL: "miskuzius@gmail.com"
      PGADMIN_DEFAULT_PASSWORD: "passworderino"
      PGADMIN_DISABLE_POSTFIX: true
      PGADMIN_LISTEN_PORT: 9191
    healthcheck:
      test: ["CMD-SHELL", "wget -O - http://localhost:9191/misc/ping"]
      start_period: 160s
      interval: 60s
      timeout: 10s
      retries: 3
    networks:
      unulearner:
        aliases:
          - pgadmin
    ports:
      - "9191:9191"

  # Service: 3
  angular-frontend:
    container_name: unulearner_frontend_container
    depends_on:
      - postgresdb
    volumes:
      - './unulearner-frontend:/app/unulearner-frontend:ro'
    build:
      context: ./unulearner-frontend
      dockerfile: Dockerfile.dev
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --quiet --tries=1 --timeout=10 http://localhost:9999"]
      start_period: 160s
      interval: 60s
      timeout: 10s
      retries: 3
    networks:
      unulearner:
        aliases:
          - angular
    ports:
      - "9999:9999"

  # Service: N
  nginx-proxy:
    container_name: unulearner_nginx_container
    image: "nginx:latest"
    restart: unless-stopped
    depends_on:
      - postgresadmin
      - angular-frontend
    volumes:
      - './unulearner-resources/nginx/conf/:/etc/nginx/conf.d/:ro'
      # - ./certbot/www/:/var/www/certbot/:ro
    healthcheck:
      test: curl --fail http://localhost || exit 1
      start_period: 160s
      interval: 60s
      timeout: 10s
      retries: 3
    networks:
      unulearner:
        aliases:
          - nginxproxy
    ports:
      - 80:80
      - 443:443

networks:
  unulearner:
    name: unulearner
    driver: bridge

volumes:
  postgresdb:
  postgresadmin:
  angular-frontend:
  nginx-proxy:
  