version: '3.8'
services:
  # Service: 1
  postgresdb:
    container_name: unulearner_postgresdb_container
    image: postgres:${PG_VER}
    restart: unless-stopped
    user: root
    environment:
      POSTGRES_MULTIPLE_DATABASES: ${PG_DB_LIST}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASS}
      POSTGRES_HOST: ${PG_HOST}
      PGPORT: ${PG_PORT}
    volumes:
      - './unulearner-resources/postgresdb/init-scripts:/docker-entrypoint-initdb.d:ro'
      - './postgresdb/data:/var/lib/postgresql/data:rw'
      - './postgresdb:/etc/postgresql:rw'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -q -d ${PG_DB_UL} -U ${PG_DB_UL} && pg_isready -q -d ${PG_DB_KC} -U ${PG_DB_KC}"]
      start_period: 160s
      interval: 60s
      timeout: 10s
      retries: 3
    networks:
      unulearner:
        aliases:
          - postgresdb
    ports:
      - ${PG_PORT}:${PG_PORT}

  # Service: 1.1
  postgresdb_post:
    image: postgres:${PG_VER}
    user: root
    volumes:
      - './postgresdb/data:/var/lib/postgresql/data:rw'
      - './postgresdb:/etc/postgresql:rw'
    entrypoint: [ "bash", "-c", "chmod 750 -R /var/lib/postgresql/data && chmod 750 -R /etc/postgresql"] 
    depends_on:
        - postgresdb

  # Service: 2
  postgresadmin:
    container_name: unulearner_pgadmin_container
    image: 'dpage/pgadmin4:${PGA_VER}'
    restart: unless-stopped
    depends_on:
      - postgresdb
    volumes:
      - './pgadmin/var/lib/pgadmin:/var/lib/pgadmin:rw'
      - './pgadmin/servers.json:/pgadmin4/servers.json:rw' 
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGA_ADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGA_ADMIN_PASSWORD}
      PGADMIN_DISABLE_POSTFIX: ${PGA_DISABLE_POSTFIX}
      PGADMIN_LISTEN_PORT: ${PGA_PORT}
    healthcheck:
      test: ["CMD-SHELL", "curl --head --max-time 10 --retry 0 -fsS http://localhost:${PGA_PORT}/misc/ping"]
      start_period: 160s
      interval: 60s
      timeout: 10s
      retries: 3
    networks:
      unulearner:
        aliases:
          - pgadmin
    ports:
      - ${PGA_PORT}:${PGA_PORT}

  # Service: 3
  keycloak:
    container_name: unulearner_keycloak_container
    image: quay.io/keycloak/keycloak:${KC_VER}
    command: ["start-dev", "--http-port", "${KC_PORT}", "--proxy", "${KC_PROXY_MODE}"] #"--import-realm" #auto-build(lookitup)
    restart: unless-stopped
    depends_on:
      - postgresdb
    #volumes:
     # - './keycloak/realm.json:/opt/keycloak/data/import/realm.json:ro'
    environment:
      KC_DB: postgres
      KC_DB_USERNAME: ${PG_USER}
      KC_DB_PASSWORD: ${PG_PASS}
      KC_LOG_LEVEL: ${KC_LOG_LEVEL}
      KC_HEALTH_ENABLED: ${KC_HEALTH_ENABLED}
      KC_METRICS_ENABLED: ${KC_METRICS_ENABLED}
      KEYCLOAK_ADMIN: ${KC_ADMIN_NAME}
      KEYCLOAK_ADMIN_PASSWORD: ${KC_ADMIN_PASSWORD}
      KC_DB_URL: 'jdbc:postgresql://postgresdb:${PG_PORT}/${PG_DB_KC}'
      KC_PROXY: ${KC_PROXY_MODE}
      KC_HOSTNAME: ${KC_HOSTNAME}
      #KC_HOSTNAME_PORT: ${KC_PORT}
      KC_HTTP_RELATIVE_PATH: ${KC_PATH}
      KC_HTTP_ENABLED: ${KC_HTTP_ENABLED}
      KC_HOSTNAME_STRICT: ${KC_HOSTNAME_STRICT}
      KC_HOSTNAME_STRICT_HTTPS: ${KC_HOSTNAME_STRICT_HTTPS}
    healthcheck:
      test: ["CMD-SHELL", "curl --head --max-time 10 --retry 0 -fsS http://localhost:${KC_PORT}/health/ready"]
      start_period: 160s
      interval: 60s
      timeout: 10s
      retries: 3
    networks:
      unulearner:
        aliases:
          - keycloak
    ports:
      - ${KC_PORT}:${KC_PORT}

  # Service: *
  angular-frontend:
    container_name: unulearner_frontend_container
    command: ["ng", "serve", "--host", "0.0.0.0", "--port", "${FE_PORT}", "--disable-host-check", "--proxy-config", "proxy.conf.json"]
    restart: unless-stopped
    depends_on:
      - postgresdb
    volumes:
      - './unulearner-frontend:/app/unulearner-frontend:rw'
      - './unulearner-frontend/.angular:/app/unulearner-frontend/.angular:rw'
      - './unulearner-frontend/node_modules:/app/unulearner-frontend/node_modules:rw'
    build:
      context: ./unulearner-frontend
      dockerfile: Dockerfile.dev
    healthcheck:
      test: ["CMD-SHELL", "curl --head --max-time 10 --retry 0 -fsS http://localhost:${FE_PORT}"]
      start_period: 160s
      interval: 60s
      timeout: 10s
      retries: 3
    networks:
      unulearner:
        aliases:
          - angular
    ports:
      - ${FE_PORT}:${FE_PORT}

  # Service: N
  nginx-proxy:
    container_name: unulearner_nginx_container
    image: nginx:${NG_VER}
    restart: unless-stopped
    depends_on:
      - postgresadmin
      - angular-frontend
    volumes:
      - './nginx/conf.d/:/etc/nginx/conf.d/:ro'
      # - ./certbot/www/:/var/www/certbot/:ro
    healthcheck:
      test: ["CMD-SHELL", "curl --head --max-time 10 --retry 0 -fsS http://localhost:80 && curl --head --max-time 10 --retry 0 -fsS http://localhost:443"]
      start_period: 160s
      interval: 60s
      timeout: 10s
      retries: 3
    networks:
      unulearner:
        aliases:
          - nginxproxy
    ports:
      - 80:80
      - 443:443

networks:
  unulearner:
    name: unulearner
    driver: bridge
